@font-face {
    font-family: 'Univers';
    src: url('../fonts/Univers-CondensedBold.eot');
    src: url('../fonts/Univers-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Univers-CondensedBold.woff2') format('woff2'),
        url('../fonts/Univers-CondensedBold.woff') format('woff'),
        url('../fonts/Univers-CondensedBold.ttf') format('truetype'),
        url('../fonts/Univers-CondensedBold.svg#Univers-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers2';
    src: url('../fonts/Univers-Condensed.eot');
    src: url('../fonts/Univers-Condensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Univers-Condensed.woff2') format('woff2'),
        url('../fonts/Univers-Condensed.woff') format('woff'),
        url('../fonts/Univers-Condensed.ttf') format('truetype'),
        url('../fonts/Univers-Condensed.svg#Univers-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background:url(../images/esobackground.jpg);
    background-size:cover;
    background-attachment: fixed;
    font-family: Univers2;
    
}

header {
    text-align:center;
    font-family: Univers;
    color:black;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;

}

form {
    text-align: center;
    background-color:#A9927C;
    color:black;
    display:block;
    margin:20%;
    margin-top:2%;
    border-radius: 1rem;
    border:black 2px solid;
}

.question {
    padding:1rem;
}

button {
    margin-bottom: 3rem;
}

#classcontainer {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.classimage {
    width:10rem;
    height:auto;
    border-radius: 3px;
    border:white solid 1px;
    opacity:70%;
    transition:0.5s;
}

.classimage:hover {
    opacity:100%;
} 

input:checked+.classimage{
    opacity:100%;
}

#radioa,#radiob,#radioc {
    position:absolute;
}
