body {
    background:url(../images/esobackground.jpg);
    background-size:cover;
    background-attachment: fixed;
}

header {
    text-align:center;
}

form {
    text-align: center;
    background-color:#A9927C;
    color:black;
    display:block;
    margin:20%;
    margin-top:2%;
    border-radius: 1rem;
    border:black 2px solid;
}

.question {
    padding:1rem;
}

button {
    margin-bottom: 3rem;
}

#classcontainer {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.classimage {
    width:10rem;
    height:auto;
    border-radius: 3px;
    border:white solid 1px;
    opacity:70%;
    transition:0.5s;
}

.classimage:hover {
    opacity:100%;
} 

input:checked+.classimage{
    opacity:100%;
}

#radioa,#radiob,#radioc {
    position:absolute;
}
